@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

.App{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

input{
  width: 70%;
  padding: 10px;
  margin: 5px;
}

button{
  width: 70%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px auto;
  background-color: white;
  color: gray ;
}


/* NAVBAR */

.navBar{
  padding: 20px;
  width: 30%;
  margin-left: auto;
  margin-bottom: 50px;
}

.navLink{
  float: left;
  margin: 20px;
  color: slategray;
  text-decoration: none;
}

.navLink:hover{
  color: black;
}


/* HOME */

.homeContainer{
  background: url(https://media.giphy.com/media/z304DobD89OBG/giphy.gif) no-repeat center fixed;
  min-height: 100vh;
  margin: auto;
}

.typingeffect{
  font-size: 30px;
}

/* SIGN IN */

.formContainerSignIn{
  background-color: white;
  color: black;
  width: 30%;
  margin: auto;
  border: 2px solid grey;
  border-radius: 20px;
  min-height: 50vh;
  box-shadow: 15px 15px gray;
}

#userImgContainer{
  width: 20%;
}

.fillThisContainer{
  width: 100%;
  margin: auto;
}

/* SIGN UP */

.formContainerSignUp{
  width: 60%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 15px 15px gray;
  padding: 20px;
  min-height: 50vh;
}

/* PROFILE */

.profileContainer{
  width: 90%;
  margin: auto;
  min-height: 80vh;
  padding: 20px;
}

.headerProfileContainer{
  width: 20%;
  float: left;
}

.bodyProfileContainer{
  width: 70%;
  float: right;
  padding: 10px;
  margin: auto;
}

.taskDisplayContainer{
  padding: 20px;
}

/* ADD TASK */

.newTaskContainer{
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 5px 5px grey;
}

#newTaskBtn{
  width: 20%;
}

#inputTask{
  border-radius: 10px;
}

.error{
  width: 100%;
  color: red;
}

/*TASK DISPLAY */

img{
  width: 50%;
}

.taskDisplay{
  border: 1px solid grey;
  margin: 20px;
  width: 40%;
  float: left;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px grey;
}

.taskContainer{
  width: 60%;
  padding: 10px;
  float: left;
  text-align: left;
}

.taskBtnContainer{
  width: 30%;
  float: right;
}

.delete,
.change{
  width: 40%;
  margin: 5px;
  float: left;
}
