@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

.App {
  /* text-align: center;*/
  background: linear-gradient(to bottom, rgba(70,36,70,1) 20%, rgba(235,107,86,1) 57%, rgba(71,179,157,1) 90%);;
  font-family: 'Domine', serif;
  color: #E5EEDA;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  width: 70%;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header{
  color: #B05F6D;
  background-color: whitesmoke;
  border: 2px dotted #B05F6D;
  width: 80%;
  height: 50%;
  padding: 10px; 
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}

img{
  width: 100%;
}

.removeBtnPending{
  width: 5%;
  float: right;
  background-color: khaki;
  border: khaki
}

.removeBtnDone{
  width: 5%;
  float: right;
  background-color: lightsalmon;
  border: lightsalmon;
}

.checkBox{
  width: 10%;
  float: right;
  /* background-image: url('https://image.flaticon.com/icons/svg/390/390923.svg'); */
  border: aquamarine;

}

/* NEWTASK DIV */

.newTaskDiv{
  width: 80%;
  margin: auto;
  color: #B05F6D;
  border: 2px dotted #B05F6D;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.headerDiv{
  color: #B05F6D;
  background-color: whitesmoke;
}

.inputTask{
  width: 60%;
  min-height: 5vh;
  margin: 10px;
  border: 1px solid #B05F6D;
  border-radius: 10px;
}

.newTaskBtn{
  min-height: 5vh;
  border: 1px solid #B05F6D;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #B05F6D;
}

/* PENDINGTASK DIV */

.pendingTaskDiv{
  width: 80%;
  margin: 20px auto;
  color: #B05F6D;
  border: 2px dotted #B05F6D;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;

}

.onPendingTask{
  color: slategrey;
  margin: 20px auto;
  padding: 10px;
  background-color: khaki;
  border-radius: 10px;

}

/* DONTASK DIV */

.doneTaskDiv{
  width: 80%;
  margin: 20px auto;
  color: #B05F6D;
  border: 2px dotted #B05F6D;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;

}

.thisIsDone{
  color: paleturquoise;
  margin: 20px auto;
  padding: 10px;
  background-color: lightsalmon;
  border-radius: 10px;
}